{% extends 'base.html' %}


{% block title %}
Add Tea
{% endblock %}
{% block body %}
<style>
    [data-tooltip] {
        position: relative; /* Относительное позиционирование */
    }
    [data-tooltip]::after {
        content: attr(data-tooltip); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        width: 300px; /* Ширина подсказки */
        left: 0; top: 0; /* Положение подсказки */
        background: #a6e3e9; /* Синий цвет фона */
        color: #fff; /* Цвет текста */
        padding: 0.5em; /* Поля вокруг текста */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
        pointer-events: none; /* Подсказка */
        opacity: 0; /* Подсказка невидима */
        transition: 1s; /* Время появления подсказки */
    }
    [data-tooltip]:hover::after {
        opacity: 1; /* Показываем подсказку */
        top: 2em; /* Положение подсказки */
    }
</style>
<div class="row">

    <div class="col col-12 col-md-8 col-lg-6">
        <form method="post">
            <div class="mb-3">
                <label
                        for="product-name-id"
                        class="form-label"
                >Tea name:</label>
                <p data-tooltip="Enter the name of the tea">
                <input type="text" class="form-control" name="product-name" id="product-name-id" placeholder="Name Tea" aria-describedby="product-name-help">
                <div id="product-name-help" class="form-text">New tea to show on tea list</div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-lg btn-outline-primary">Create</button>
                </p>
            </div>
        </form>
    </div> <!-- /col form -->

    <div class="my-3 col">
        <div class="alert alert-primary" role="alert" >
            Add a tea to the website. The name has to be unique.
        </div>

    </div>

</div>

<hr>
<a href="{{ url_for('product_app.list') }}">Back to tea list</a>

{% endblock %}
