{% extends 'base.html' %}

{% block title %}
Tea #{{ product_id }}
{% endblock %}


{% block body %}
<h1>Product <code>{{ product_name }}</code></h1>
{#  <small>spam: {{ spam }}</small>#}
<a href="{{ url_for('product_app.list') }}">back to products list</a>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{{ url_for('product_app.details', product_id=product_id-1) }}" aria-label="Previous">
                <span aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('product_app.details', product_id=product_id+1) }}">Next</a>
        </li>
    </ul>
</nav>

{% endblock %}
