{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<!-- <br> -->

<p class="font-bold slide-in">
    Hello!
</p>
{#<br>#}
<p class="slide-in" title="Product name to add">
    You can add types of teas. To have a complete list of all types of teas.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/watch?v=Ng2CPSVE_fM" frameborder="0" allowfullscreen></iframe>

<hr>

<div>
    <a href="{{ url_for('product_app.list') }}">Go to Tea</a>
</div>

{% endblock %}
